<a href="https://colab.research.google.com/github/PavanKumar91829/Innomatics_Internship_task/blob/main/Python_Task_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Leet code problems

### 1464: Maximum Product of Two Elements in an Array

**Description:** Given an array of integers `nums`, choose two different indices `i` and `j` of that array. Return the maximum value of `(nums[i]-1)*(nums[j]-1)`.

**Example:**

```
Input: nums = [3,4,5,2]
Output: 12
Explanation: If you choose the indices i=1 and j=2, you will get the maximum value, that is, (4-1)*(5-1) = 3*4 = 12.
```

In [1]:
def maxProduct(nums):
  first_max = 0
  second_max = 0
  for num in nums:
    if num > first_max:
      second_max = first_max
      first_max = num
    elif num > second_max:
      second_max = num
  return (first_max - 1) * (second_max - 1)

In [2]:
maxProduct([3,4,5,2])

12

In [3]:
maxProduct([1,5,4,5])

16

### 1395. Count Number of Teams

There are `n` soldiers standing in a line. Each soldier is assigned a **unique rating value**.

You have to form a **team of 3 soldiers** under the following rules:

- Choose 3 soldiers with indices `(i, j, k)` and ratings  
  `(rating[i], rating[j], rating[k])`
- A team is **valid** if:
  - `rating[i] < rating[j] < rating[k]` **or**
  - `rating[i] > rating[j] > rating[k]`
- The index condition must hold:  
  `0 <= i < j < k < n`

Return the **number of valid teams** you can form.  
A soldier can be part of **multiple teams**.

**Example**

```
Input: rating = [2,5,3,4,1]
Output: 3
Explanation: We can form three teams given the conditions. (2,3,4), (5,4,1), (5,3,1).
```

In [4]:
def numTeams(rating):
    n=len(rating)
    ans=0
    for j in range(n):
        left_small=right_small=left_large=right_large=0

        for i in range(j):
            if rating[i]<rating[j]:
                left_small+=1
            else:
                left_large+=1

        for k in range(j+1,n):
            if(rating[k]>rating[j]):
                right_large+=1
            else:
                right_small+=1
        ans+=left_small*right_large
        ans+=right_small*left_large

    return ans

In [5]:
numTeams([2,5,3,4,1])

3

In [6]:
numTeams([2,1,3])

0

### 1450. Number of Students Doing Homework at a Given Time

Given two integer arrays `startTime` and `endTime` and an integer `queryTime`.

The `i`th student started doing their homework at time `startTime[i]` and finished it at time `endTime[i]`.

Return the number of students doing their homework at time `queryTime`.  
More formally, return the number of students where `queryTime` lies in the interval  
`[startTime[i], endTime[i]]` inclusive.

**Example**

```
Input: startTime = [1,2,3], endTime = [3,2,7], queryTime = 4
Output: 1
Explanation: We have 3 students where:
The first student started doing homework at time 1 and finished at time 3 and wasn't doing anything at time 4.
The second student started doing homework at time 2 and finished at time 2 and also wasn't doing anything at time 4.
The third student started doing homework at time 3 and finished at time 7 and was the only student doing homework at time 4.

In [7]:
def busyStudent(startTime, endTime, queryTime):
  ans = 0
  for i in range(len(startTime)):
    if startTime[i] <= queryTime and endTime[i] >= queryTime:
      ans += 1
  return ans

In [8]:
startTime = [1,2,3]
endTime = [3,2,7]
queryTime = 4
busyStudent(startTime, endTime, queryTime)

1

### 1342. Number of Steps to Reduce a Number to Zero

Given an integer `num`, return the number of steps to reduce it to zero.

In one step, if the current number is even, you have to divide it by `2`, otherwise, you have to subtract `1` from it.

**Example**

```
Input: num = 14
Output: 6
Explanation:
Step 1) 14 is even; divide by 2 and obtain 7.
Step 2) 7 is odd; subtract 1 and obtain 6.
Step 3) 6 is even; divide by 2 and obtain 3.
Step 4) 3 is odd; subtract 1 and obtain 2.
Step 5) 2 is even; divide by 2 and obtain 1.
Step 6) 1 is odd; subtract 1 and obtain 0.

In [9]:
def numberOfSteps(n):
  ans=0
  while n>0:
      if n%2==0:
          n=n/2
          ans+=1
      else:
          n=n-1
          ans+=1
  return ans

In [10]:
numberOfSteps(14)

6

In [11]:
numberOfSteps(8)

4

### 338. Counting Bits

Given an integer `n`, return an array `ans` of length `n + 1` such that for each `i` (`0 <= i <= n`), `ans[i]` is the number of `1`s in the binary representation of `i`.

**Example**
```
Input: n = 2
Output: [0,1,1]
Explanation:
0 --> 0
1 --> 1
2 --> 10

In [12]:
def countBits(n):
  res=[0]
  for i in range(1,n+1):
      res.append(res[i//2]+i%2) # dynamic approach ex: i=4 --> res[4//2]=res[2]=1 previously we got res[2] as 1 and 4%2=0 :1+0=1
  return res

In [13]:
countBits(2)

[0, 1, 1]

In [14]:
countBits(5)

[0, 1, 1, 2, 1, 2]